* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(253, 251, 251);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    height: 100vh;
}


#cadastro-instagram {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 30rem;
    margin-top: 20%;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    margin-bottom: 1.5rem;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.group p {
    padding: 10px 0;
}

.logo {
    height: 3rem;
    margin: 0.5rem 0;
}

.texto-cadastro {
    color: rgba(142, 142, 142);
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
}

.btn-entrar {
    text-align: center;
    padding: 5px 42px;
    border-radius: 3px;
    background-color: #0095f6;
    color: #ffffff;
    font-weight: 600;
    margin: 10px;
    vertical-align: middle;
}

.face-logo-branco {
    width: 16px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.texto-ou {
    color: rgb(142, 142, 142);
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin: 25px 0;
}

.texto-ou::before,
.texto-ou::after {
    content: "";
    position: absolute;
    top: 0.65em;
    width: 7em;
    height: 0.05em;
    background-color:rgba(142, 142, 142, 0.473);
    left: -8.25em;
}

.texto-ou::after {
    left: initial;
    right: -8.25em;
}

.input-cadastro {
    width: 250px;
    height: 40px;
    font-size: 12px;
    margin: 3px 0;
    border: 1px solid lightgray;
    border-radius: 2px;
    background-color: rgba(230, 230, 230, 0.329);
    text-indent: 5px;
}

.input-cadastro:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.input-senha {
    margin-bottom: 20px;
}

.btn-cadastro {
    text-align: center;
    padding: 5px 88px;
    border-radius: 3px;
    background-color: #0095f6;
    color: #ffffff;
    font-weight: 600;
}

.politicas-uso {
    color: rgb(142, 142, 142);
    font-size: 12px;
    line-height: 16px;
    margin: 10px 40px;
    text-align: center;
}

.link-blue {
    color: #0095f6;
    font-weight: 600;
}

.app-store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.download-insta {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

/*Responsividade*/
@media (max-width: 1024px) {
    #container {
        width: 90%;
    }
    #cadastro-instagram {
        margin-top: 2px;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    #container {
        width: 90%;
        margin-top: 5%;
    }

    #phone-instagram {
        display: none;
    }

    #cadastro-instagram {
        width: 100%;
        margin-top: 2px;
    }

    .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 1.3rem 0;
        margin-bottom: 2rem;
        border: none;
    }

}